doctype html
html
    head
        title= title
        <script src="https://kit.fontawesome.com/35fb68f7ee.js" crossorigin="anonymous"></script>
    body
        header
            include header
        <script src="/header/header.js"></script>
        main
            block content
        <script src="/main/user.js"></script>
        footer
            include footer